---
import Layout from "@layouts/layout.astro";
---

<Layout>
  <section class="my-16 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 space-y-4">
    <h1 class="text-h1">KovalDev AstroJS Starter</h1>
    <p>This is a simple example of an Astro page.</p>
    <div
      class="*:size-24 *:shadow *:flex *:items-center *:justify-center flex gap-8"
    >
      <div class="bg-primary">primary</div>
      <div class="bg-accent text-light">accent</div>
      <div class="bg-dark text-light">dark</div>
      <div class="bg-light">light</div>
      <div class="bg-white">white</div>
      <div class="bg-black text-white">black</div>
    </div>
  </section>
</Layout>
