---

---

<section class="my-16 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 space-y-4">
  <h1 class="text-h1">KovalDev AstroJS Starter</h1>
  <p class="text-quote">This is a simple example of an Astro page.</p>
  <div
    class="*:size-24 *:shadow *:flex *:items-center *:justify-center *:w-[calc(50%_-_1rem)] flex flex-wrap gap-8"
  >
    <div class="bg-primary">Primary</div>
    <div class="bg-accent text-light">Accent</div>
    <div class="bg-light">Light</div>
    <div class="bg-dark text-light">Dark</div>
    <div class="bg-white">White</div>
    <div class="bg-black text-white">Black</div>
  </div>
</section>
