---

---

<section class="bg-white">
  <div class="py-16 md:py-24 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 space-y-8">
    <div class="text-eyebrow text-accent">Design System</div>
    <h1 class="text-h1">AstroJS Starter</h1>
    <p class="text-lead">This is a simple example of an Astro page.</p>
    <div
      class="*:shadow-sm *:flex *:flex-col *:items-center *:justify-center *:w-[calc(50%_-_1rem)] *:p-6 flex flex-wrap gap-8"
    >
      <div class="bg-primary text-dark">
        <div class="text-lg font-semibold mb-2">Primary (Brand)</div>
        <div class="text-sm opacity-80 font-mono">
          Identity colour for sections & charts
        </div>
      </div>
      <div class="bg-secondary text-light">
        <div class="text-lg font-semibold mb-2">Secondary (Support)</div>
        <div class="text-sm opacity-80 font-mono">Quiet fills & highlights</div>
      </div>
      <div class="bg-accent text-light">
        <div class="text-lg font-semibold mb-2">Accent (Action)</div>
        <div class="text-sm opacity-80 font-mono">Main interactive colour</div>
      </div>
      <div class="bg-transparent text-dark border-primary border-2">
        <div class="text-lg font-semibold mb-2">Transparent</div>
        <div class="text-sm opacity-80 font-mono">Subtle interactive items</div>
      </div>
      <div class="bg-light">
        <div class="text-lg font-semibold mb-2 text-dark">Light</div>
        <div class="text-sm opacity-80 font-mono text-dark">
          Main backgrounds
        </div>
      </div>
      <div class="bg-dark text-light">
        <div class="text-lg font-semibold mb-2">Dark</div>
        <div class="text-sm opacity-80 font-mono">Footer sections</div>
      </div>
      <div class="bg-white">
        <div class="text-lg font-semibold mb-2 text-dark">White</div>
        <div class="text-sm opacity-80 font-mono text-dark">Pure contrast</div>
      </div>
      <div class="bg-black text-white">
        <div class="text-lg font-semibold mb-2">Black</div>
        <div class="text-sm opacity-80 font-mono">Dramatic elements</div>
      </div>
    </div>
  </div>
</section>
