---

---

<section class="bg-light">
  <div class="py-16 md:py-24 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 space-y-8">
    <div class="text-eyebrow text-accent">Design System</div>
    <h1 class="text-h1">AstroJS Starter</h1>
    <p class="text-lead">This is a simple example of an Astro page.</p>
    <div
      class="*:shadow-sm *:hover:shadow-md *:transition-shadow *:duration-300 *:ease-in-out *:flex *:flex-col *:items-center *:justify-center *:w-[calc(50%_-_1rem)] *:p-6 flex flex-wrap gap-8"
    >
      <div class="bg-linear-to-r/oklch from-primary to-secondary text-dark">
        <div class="text-lg font-semibold mb-2">Primary to Secondary</div>
        <div class="text-sm opacity-80 font-mono">
          Primary to Secondary gradient
        </div>
      </div>
      <div class="bg-linear-to-r/oklch from-secondary to-accent text-light">
        <div class="text-lg font-semibold mb-2">Secondary to Accent</div>
        <div class="text-sm opacity-80 font-mono">
          Secondary to Accent gradient
        </div>
      </div>
      <div class="bg-linear-to-r/oklch from-accent to-primary text-light">
        <div class="text-lg font-semibold mb-2">Accent to Primary</div>
        <div class="text-sm opacity-80 font-mono">
          Accent to Primary gradient
        </div>
      </div>
      <div class="bg-white">
        <div
          class="text-lg font-semibold bg-linear-to-r/oklch from-primary to-secondary text-transparent bg-clip-text"
        >
          Gradient Text
        </div>
        <!-- <div class="text-sm opacity-80 font-mono">Transparent gradient</div> -->
      </div>
      <div class="bg-linear-to-r/oklch from-light to-white">
        <div class="text-lg font-semibold mb-2 text-dark">Light</div>
        <div class="text-sm opacity-80 font-mono text-dark">
          Light to White gradient
        </div>
      </div>
      <div class="bg-linear-to-r/oklch from-dark to-black text-light">
        <div class="text-lg font-semibold mb-2">Dark</div>
        <div class="text-sm opacity-80 font-mono">Dark to Black gradient</div>
      </div>
      <div class="bg-linear-to-r/oklch from-white">
        <div class="text-lg font-semibold mb-2 text-dark">White</div>
        <div class="text-sm opacity-80 font-mono text-dark">Pure contrast</div>
      </div>
      <div class="bg-linear-to-tr/oklch from-black to-accent text-white">
        <div class="text-lg font-semibold mb-2">Black to Accent</div>
        <div class="text-sm opacity-80 font-mono">Dramatic elements</div>
      </div>
    </div>
  </div>
</section>
