---
import "@styles/global.css";
import Footer from "@components/Footer.astro";
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Mike Koval https://koval.dev/" />
    <title>Astro</title>
  </head>
  <body class="h-full flex flex-col">
    <main class="flex-1">
      <slot />
    </main>
    <Footer
      companyName="Your Company"
      location="Your City, State"
      email="hello@yourcompany.com"
      website="https://yourcompany.com"
    />
  </body>
</html>
